<a href="https://colab.research.google.com/github/srisaisrikar/Data_690_assignments/blob/main/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 03
- Date: 09/18/2022
- Name: Sri Sai Srikar Bollapragada

# Question 1
- Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)

In [2]:
import random
for i in range(10):                       # loop for row values
  for j in range(10):                     # loop for column values
    print(random.randint(0,9),end=" ")    # prints random number between 0 to 9
  print()                                 # to print the next pattern in the next line

9 9 9 2 6 9 0 1 8 4
6 5 9 8 4 9 1 8 1 2
7 2 8 7 6 7 4 4 7 2
1 5 7 8 7 8 3 7 2 7
3 4 1 6 3 2 8 2 7 0
3 7 9 7 4 8 5 8 7 1
7 7 0 1 0 3 6 0 7 7
2 6 0 1 1 5 4 3 8 0
3 4 4 1 9 5 7 6 0 8
3 6 7 7 4 1 3 8 8 4

# Question 2
- If the random number is an odd number, print "@" instead. like the following:

In [3]:
for i in range (10):
  for j in range(10):
    p=random.randint(0,9)           # to store random value 
    if p%2==0:                      # checks if the random number is even number
      print(p,end=" ")
    else:
      print('@',end=" ")
  print()

@ 2 6 @ @ @ 2 @ 8 @
@ 4 @ @ @ 6 @ @ 8 2
8 @ @ 8 @ @ @ 4 6 0
@ 4 2 @ @ @ @ @ 6 0
@ 8 8 @ 8 @ 0 2 8 4
4 2 4 0 4 @ @ 2 @ 0
@ 2 @ @ 4 @ @ 2 @ @
0 8 @ @ 6 @ 6 6 @ 0
@ @ @ 4 @ 8 0 @ 6 4
8 @ 2 @ 8 6 6 8 2 @

# Question 3
- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [4]:
import random
for i in range(10):
  sum=0                    # initiate sum to zero
  for j in range(10):
    p=random.randint(0,9)  # random number is assigned to p
    sum=sum+p              # adding a random value to the sum
    print(p,end=' ')
  print('*',sum,end=' ')
  print()

7 1 1 9 4 1 3 1 6 3 * 36
2 7 3 4 1 1 5 8 6 2 * 39
9 5 2 2 9 9 7 0 6 8 * 57
1 7 9 9 6 4 1 5 5 5 * 52
8 9 0 3 8 8 9 3 8 5 * 61
3 5 8 5 5 0 5 4 8 5 * 48
7 2 5 0 7 3 5 9 8 1 * 47
2 4 0 9 1 6 0 0 9 3 * 34
8 5 4 5 0 6 0 1 4 1 * 34
9 5 6 1 9 9 8 4 9 7 * 67

# Question 4
- Surround the matrix with asterisks (*) like the following:

In [5]:
import random
print('***********************',end='')
print()
for i in range(10):
  print('*',end=' ')
  for j in range(10):
    print(random.randint(0,9),end=" ")
  print('*',end=' ')
  print()
print('***********************',end='')

***********************
* 5 0 9 7 4 2 5 7 7 5 *
* 6 9 6 7 5 6 8 5 8 8 *
* 3 2 6 2 2 8 7 1 2 0 *
* 6 7 1 1 8 3 8 6 0 2 *
* 5 5 6 6 8 9 6 7 0 4 *
* 0 7 6 7 5 8 5 6 3 2 *
* 3 7 8 4 0 4 1 5 0 8 *
* 9 5 6 6 1 1 3 9 3 8 *
* 3 6 9 7 3 6 4 7 9 1 *
* 1 7 4 0 5 2 5 1 1 1 *
***********************

# Question 5 
- Calculate and Print the total of each row and column like the following:

In [6]:
mylst=[]                      # store the values in a list. 
for i in range(10):
  a=[]                         
  for j in range(10):
    j=random.randint(0,9)
    a.append(j)
  mylst.append(a)

# loop through the nested list of random values  
sum_row=0                     # initiate the sum of row to zero
sum_col=0                     # initiate the sum of columns to zero
r=[]                          # empty list to append the sum of values in a row 
c=[]                          # empty list to append the sum of values in a row 
for i in range(10):
  for j in range(10):
    sum_row= sum_row+mylst[i][j]  
    sum_col= sum_col+mylst[j][i]
  r.append(sum_row)
  c.append(sum_col)
  sum_row=0     
  sum_col=0

# print the sum of rows and columns

for i in range(10):
  for j in range(10):
    print(mylst[i][j],end="  ")
  print("*",r[i])
  print()

print("*  " * 10,end="     ")
print()

for i in range(10):
    print(c[i],end=" ")

6  1  9  0  8  3  4  3  4  5  * 43

2  2  5  7  7  9  9  7  6  5  * 59

0  2  4  5  5  8  4  3  8  8  * 47

9  0  1  1  4  8  6  8  8  6  * 51

2  3  3  6  8  3  8  5  3  3  * 44

6  2  7  9  2  0  6  9  2  6  * 49

6  1  1  5  9  8  3  5  6  9  * 53

6  7  2  0  8  3  8  9  6  5  * 54

2  3  1  1  7  3  3  2  1  8  * 31

9  8  5  2  8  1  8  6  1  9  * 57

*  *  *  *  *  *  *  *  *  *
48 29 38 36 66 46 59 57 45 64